
{{!-- 
<div> 
  <button><a href="/adminsignup">Admin siginup </a></button>
   </div>

   <div><button>
<a href="adminsignin"> Admin login</a></button>  
</div> --}}


<div class="admpg">

  <button type="button" class="admpg"><a href="/"> Home </a></button>
  

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary"><a href="/adminsignup">Admin siginup </a></button>
  <button type="button" class="btn btn-primary"></button>
  <button type="button" class="btn btn-primary"><a href="adminsignin"> Admin login</a></button>
</div>

</div>
<img src="/images/stnd.webp" width="1164" height="700">