<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      
   </head>

   <body>
      
      <nav>
         
            <div id="to-left">
               <p><a href="/"> Home </a></p>
            </div>
            <div id="to-right">
               <a href="/signup">Signup</a> <span> | </span>
            </div>
            <div id="to-right">
               <a href="/signin">SignIn</a> <span> | </span>
            </div>
            <div id="to-right">
                  <a href="/logout">Logout</a> <span> | </span>
            </div>
         
      </nav> 
     
      {{{body}}}
      <script src="/js/script.js"></script>
   </body>

</html>