<a href="/"> Home </a>

<h2>welcome to standard room type</h2>
     <div class="stdfm">
      <form action="/views/standardroom" method="POST">

      <div class="input-group">
              <span  class="input-group-text">Room type </span>
              <input name="room_type" type="text" aria-label="First name" class="form-control">
            </div> <p></p>
      <div class="input-group">
        <span class="input-group-text">Number of Cats</span>
        <input name="number_of_cats" type="text" aria-label="First name" class="form-control">
      </div>

        <div class="input-group">
        <span class="input-group-text">Cat size-kgs</span>
        <input name="catsize" type="text" aria-label="First name" class="form-control">
      </div>

      <div class="input-group">
        <span class="input-group-text">Number of nights</span>
        <input name="number_of_nights" type="text" aria-label="First name" class="form-control">
      </div>

      <div class="input-group">
        <span class="input-group-text">date</span>
        <input name="date" type="text" aria-label="First name" class="form-control">
      </div>

      <div class="input-group">
        <span class="input-group-text">Phone number </span>
        <input name="phonenumber" type="text" aria-label="First name" class="form-control">
      </div>

      <div class="input-group">
        <span class="input-group-text">Owner address</span>
        <input name="owneraddress" type="text" aria-label="First name" class="form-control">
      </div>

      <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>