  <input name="password" type="password"  placeholder=""  >
  <label>firstname</label>
<input name="firstname" type="firstname"  placeholder=""  >


  <button type="submit" >Sign Up</button>
</form>
{{#if msg}}
 <div class="error">{{msg}}</div>
{{/if}}