<form method="POST" action="/signin">
  <label>Email</label>
  <input type="email" name="email" placeholder=""  >

  <label>Password</label>
  <input type="password" name="password" placeholder=""  >
  <button type="submit" >Sign In</button>
</form>